.columns.is-vcentered
  .column.is-8
    #camera
      #placeholder
        %p Your browser does not support a camera!
  .column.is-4.is-offset-1
    %h1.title.is-2
      The Talon Initiative
    .buttons.has-text-centered
      %span.button.is-success.is-large.is-fullwidth#start_recording Start Recording
      %span.button.is-info#add_to_collection.is-large.is-fullwidth Save Snapshot


