// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}


input {
  width: 300px;
}

#camera {
  display: inline-block;
  background-color: #eee;
  width: 600px;
  height: 400px;
  margin: 0.5em;
}

#camera .placeholder {
  //padding: 0.5em;
}

button {
  margin: 0.5em;
}


.text-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

figure.image {
  position: relative;
  text-align: center;
  color: white;
}